In [1]:
import pandas as pd

In [2]:
url = "https://raw.githubusercontent.com/dolph/dictionary/master/popular.txt"
df = pd.read_csv(url, header=None, names=["Word"])

In [3]:
# Ensure no NaN values and all values are strings
df["Word"] = df["Word"].fillna("").astype(str)

# Compute "Char Count"
df["Char Count"] = df["Word"].apply(len)

# Compute "Value" (alphabet values)
df["Value"] = df["Word"].apply(lambda x: sum(ord(c.lower()) - ord('a') + 1 for c in x if c.isalpha()))

# Compute "Ratio"
df["Ratio"] = df["Value"] / df["Char Count"]

### Activities

##### How many rows does this DataFrame have?

In [92]:
df.shape[0]

25322

##### What is the total number of columns in the DataFrame?

In [93]:
df.shape[1]

4

##### What is the average Char Count in this DataFrame?

In [79]:
df['Char Count'].mean()

7.3133638733117445

##### How many unique words are there in this dataset?

In [98]:
df['Word'].nunique()
# df.nunique()

25321

##### What is the sum of all the Values in the Value column?

In [99]:
df['Value'].sum()

2159964

##### What is the word with the shortest Char Count?

In [153]:
# df.loc[df['Char Count'].min()] rhis code is not correct
df.loc[df['Char Count'].idxmin()]

Word
Char Count      0
Value           0
Ratio         NaN
Name: 14638, dtype: object

**to find the `Word` with shortest `Char Count` without NaN value in `Ratio`**

In [157]:
df.loc[df[df['Ratio'].notna()]['Char Count'].idxmin()]

Word           aa
Char Count      2
Value           2
Ratio         1.0
Name: 0, dtype: object

##### Which word has the lowest Ratio?

In [144]:
# df['Ratio'].min() # to find the smallest ratio
df.loc[df['Ratio'].idxmin()]

Word           aa
Char Count      2
Value           2
Ratio         1.0
Name: 0, dtype: object

##### How many words have a Char Count greater than 10?

In [73]:
(df['Char Count'] > 10).sum()

2420

##### How many words have a Value greater than 200?

In [161]:
(df['Value'] > 200).sum()

28

###### Find those words!

In [165]:
df.loc[df['Value'] > 200].sort_values(by = 'Value')

                       Word  Char Count  Value      Ratio
24203         ventriloquist          13    201  15.461538
14601          mysteriously          12    201  16.750000
17433       psychotherapist          15    202  13.466667
18720       revolutionaries          15    203  13.533333
17050          presumptuous          12    204  17.000000
11365        impressionists          14    204  14.571429
23810       unintentionally          15    205  13.666667
11122      hyperventilating          16    205  12.812500
20264        simultaneously          14    206  14.714286
23427           trustworthy          11    207  18.818182
830         anthropologists          15    208  13.866667
14180     misunderstandings          17    210  12.352941
7604       environmentalist          16    210  13.125000
23655       unconsciousness          15    210  14.000000
8049       extracurriculars          16    211  13.187500
21987         superstitious          13    211  16.230769
8058       extraterrestrial          16    213  13.312500
6536       disproportionate          16    214  13.375000
4805      conversationalist          17    216  12.705882
12026      irresponsibility          16    219  13.687500
23639  uncharacteristically          20    222  11.100000
14134     misinterpretation          17    225  13.235294
23656      unconstitutional          16    227  14.187500
11788     institutionalized          17    227  13.352941
4679       constitutionally          16    229  14.312500
5003      counterproductive          17    229  13.470588
8059      extraterrestrials          17    232  13.647059
23955         untrustworthy          13    242  18.615385

##### What word is the one with the highest Ratio?

In [166]:
df.loc[df['Ratio'].idxmax()]

Word           wry
Char Count       3
Value           66
Ratio         22.0
Name: 25173, dtype: object

##### How many words have a Ratio of exactly 10?

In [167]:
(df['Ratio'] == 10).sum()

489

##### What is the maximum Value of all words with a Ratio of 10?

In [178]:
df.loc[df['Ratio'] == 10].max()

Word          yanked
Char Count        15
Value            150
Ratio           10.0
dtype: object

##### How many words have a Value of 260?

In [181]:
(df['Value'] == 260).sum()

0

##### What is the word with the lowest Char Count and a Value of 260?

In [206]:
df.loc[df['Value'] == 260]['Char Count'].min()

nan

##### What is the average Ratio of all words with a Char Count greater than 15?

In [207]:
df.loc[df['Char Count'] > 15]['Ratio'].mean()

12.523774509803921

##### What is the most common Char Count in the DataFrame?

In [213]:
df['Char Count'].value_counts()

Char Count
7     4269
6     4080
8     3789
5     3088
9     2887
10    2020
4     1996
11    1185
12     709
3      682
13     325
14     135
2       89
15      42
16      16
17       7
0        2
20       1
Name: count, dtype: int64

###### To get the precise the number 7 as the answer

In [214]:
df['Char Count'].mode().iloc[0]

7

##### Of all words with a Ratio of 10, what is the word with the highest Value?

In [249]:
df.loc[df['Ratio'] == 10].sort_values(by = 'Value', ascending = False).iloc[0]

16250    pharmaceuticals
3875      classification
23705     understandable
18030     reconnaissance
11414      incarceration
              ...
14204                mob
13831                mel
9562                 gin
7012                 due
1109                  as
Name: Word, Length: 489, dtype: object

##### How many unique Ratios are there in the dataset?

In [240]:
df['Ratio'].nunique()

740

##### For words with a Value greater than 500, what is the word with the longest Char Count?

In [248]:
df.loc[df['Value'] > 500].sort_values(by = 'Char Count', ascending = False)['Word']

Series([], Name: Word, dtype: object)

In [3]:
#my completed project link from datawars

https://profiles.datawars.io/ammarjagadhita/projects/637502af-b693-44d2-8a1c-0bfdd660a74a